@import "../libs/mixins";

.site-content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.fullwidth-block{
  padding: 70px 0;

  .section-title{
    @include em(36);
    font-weight: 300;
    color: white;
  }
}

.filter{
  margin-bottom: 30px;
}
.filter-control{
  border:2px solid $secondary-color;
  padding: 5px 5px 5px 20px;
  border-radius: 30px;
  display: inline-block;
  white-space: nowrap;

  label{
    margin-right: 10px;
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
  }


}
.select.control{
  background: $secondary-color;
  border-radius: 40px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  padding-right: 30px;
  position: relative;

  &:after{
    content:" ";
    width:7px;
    height:9px;
    background: url(images/arrow-down.png);
    position: absolute;
    right: 10px;
    top:0;
    bottom:0;
    margin: auto;
    display: block;
    z-index: 1;

  }

  select{
    padding: 10px 30px;
    width: 110%;
    border: none;
    background: none;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    color: white;
  }
}

.arrow-feature{
  list-style-type: none;
  li{
    position: relative;
    padding-left: 30px;

    &:before{
      content:" ";
      width: 12px;
      height: 7px;
      background: url(images/arrow.png);
      position: absolute;
      left: 0;
      top:5px;
    }

    h3{
      @include em(14);
      color: white
    }
  }
}
.arrow-list{
  list-style-image: url(images/arrow.png);
  list-style-position: inside;

  li{
    padding: 10px 0;
    border-bottom: 1px solid rgba(255,255,255,.1);

    &:last-child{border-bottom: none}
  }
  a{
    color :white;

    &:hover{
      color: $accent-color;
    }
  }
}
